{{#if blogs.length}}
<section>
  <h2>Your Blogs</h2>
  {{#each blogs as |blog|}}
  <div class="card">
    <div class="card-header">
      <h4><a class="link" href="/dashboard/edit/{{id}}">{{title}}</a></h4>
    </div>
  </div>
  {{/each}}
</section>
{{/if}}

<button type="submit" class="btn"><a class="link" href="/dashboard/new">+ New Blog</a></button>

<script src="/javascript/blogs.js"></script>
