<section class="card col-md-6">
	<form id="login-form" class="card-body">
		<h3>Login</h3>
		<div class="form-row">
			<div class="form-group">
				<label for="email-signup">Email:</label>
				<input type="text" id="email-signup" class="form-control" placeholder="Email"/>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group">
				<label for="password-login">Password</label>
				<input type="password" id="password-login" placeholder="Password" class="form-control" />
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Sign in</button>
		<a href="/signup">Sign up instead</a>
	</form>
</section>

<script src="/js/login.js"></script>
