<section class="card col-md-6">
	<form id="signup-form" class="card-body">
		<h3>Sign up today!</h3>
		<div class="form-row">
			<div class="form-group">
				<label for="username-signup">Screen name</label>
				<input type="text" id="username-signup" class="form-control" placeholder="Screen name" />
			</div>
		</div>
		<div class="form-row">
			<div class="form-group">
				<label for="email-signup">Email:</label>
				<input type="text" id="email-signup" class="form-control" placeholder="Email"/>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group">
				<label for="password-signup">Password</label>
				<input type="password" id="password-signup" class="form-control" placeholder="Password" />
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Sign up</button>
		<a href="/login">Log in instead</a>
	</form>
</section>

<script src="/js/signup.js"></script>
